* {
  margin: 0;
  padding: 0;
  background-color: gray;
}

#canvas1 {
  position: absolute;
  top: 20px;
}

.controls {
  position: absolute;
  z-index: 100;
}

.btn {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

img {
  display: none;
}
