@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500;600&display=swap');

@import "tailwindcss";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --color-primary: #8b5cf6;
  --color-primary-light: #a78bfa;

  --color-accent: #06b6d4;
  --color-accent-light: #22d3ee;

  --color-background: #050505;
  --color-surface: #0a0a0f;
  --color-surface-light: #11111a;

  --color-text: #f5f5f5;
  --color-text-muted: #a1a1aa;

  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

// global visuais

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050505;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
}

::selection {
  background: rgba(139, 92, 246, 0.35);
}

.portfolio-background {
  background:
    radial-gradient(
      circle at 15% 20%,
      rgba(139, 92, 246, 0.12),
      transparent 30%
    ),
    radial-gradient(
      circle at 85% 10%,
      rgba(6, 182, 212, 0.08),
      transparent 30%
    ),
    #050505;
}

.grid-background {
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.025) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.025) 1px,
      transparent 1px
    );

  background-size: 50px 50px;
}
